{
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "parserOptions": {
    "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports
    "project": "./tsconfig.json"
  },
  "extends": ["eslint-config-tiu", "next", "next/core-web-vitals"],

  "ignorePatterns": ["types.ts", "*.js", "src/generated/graphql.ts"],
  "rules": {
    "import/extensions": "off",
    "consistent-return": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/dot-notation": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "react/destructuring-assignment": "off"
  }
}
